body{
    display: flex;
    background-image: -webkit-linear-gradient(145deg, #f9f9f9, #fff);
    padding: 0;
    margin: 0;
    gap: 5px;
    font-family: 'poppins', Verdana, Geneva, Tahoma, sans-serif 

   
}
.content{
    width: 70%;
    height: max-content;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: white;
}
.content .title{
    justify-self: center;
    font-size: 30px;
   
}
.title h1 span{
    color: darkorchid;
    text-decoration: underline;
}
.chat-section{
    width: 80%;
    gap: 5px;
    padding: 15px;
    justify-content: center;
    justify-self: center;

}
.chat-section .compose{
    width: 65%;
    justify-self: center;
    text-align: center;

}
.message{
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
.message input{
padding: 10px;
border: 1px solid lightgray;
outline: none;
border-radius: 6px;
color: black;
font-size: small;
font-family: monospace;
font-weight: 600;
height: 30px;
}
.message button{
    padding: 13px;
    cursor: not-allowed;
    color: black;
    border-radius: 6px;
    background: lightgray;
    border: none;
    
}
.message button:enabled{
    background: darkorchid;
    color: white;
    cursor: pointer;
    
}
.history{
    justify-content: center;
  gap: 5px;
  background: #e7e7e7;
  width: 40%;
  border: 1px solid lightgray;
  border-radius: 6px;

}
.history .h-title{
justify-self: center;
padding: 7px;
font-size: 25px;
color: darkmagenta;
text-transform: capitalize;

}
.history .image{
justify-self: center;
width: 80%;

}
.image img{
width: 256px;
height: 256px;
border-radius: 10px;

}
.footer{

justify-self: center;
text-align: center;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}
.sample{
    justify-content: center;
    justify-self: center;
    text-align: center;
  
}
.sample .text{
    padding: 3px 10px;
    border: 1px solid lightgray;
    border-radius: 50px;
    font-size: small;
    cursor: pointer;
    gap: 5px;
}

@media screen and (max-width: 768px){
    body{
        flex-direction: column;

    }
    .content{
        width: fit-content;
    }
    .title{
        border: 2px solid darkmagenta;
        width: 90%;
        border-radius: 10px;
        text-align: center;
        margin-top: 10px;
    }
    .compose{
        width: fit-content;
        font-size: large;
        text-align: center;
        justify-self: center;
        font-weight: 600;
    }
    .message{
        width: 90%;
    }
    .message input{
        font-size: large;
    }
    .history{
        justify-content: center;
      gap: 5px;
    justify-self: center;
    margin: auto;
    width: 90%;
    height: max-content;
    
}
.history .h-title{
    justify-self: center;
    padding: 7px;
    font-size: 25px;
    color: darkmagenta;
    text-transform: capitalize;
    
}
.history .image{
    justify-self: center;
    padding: 5px;
    height: max-content;
    width: 90%;
    max-width: 200px;

}
.image img{
    width: 190px;
    height: 190px;
    border-radius: 10px;
    justify-self: center;

}
.footer{
    
    justify-self: center;
    font-size: large;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    position: fixed;
    background: lghtgray;
    width: 100%;
}
.sample{
    justify-content: center;
    justify-self: center;
    text-align: center;
}
.sample .text{
    font-size: large;
    gap: 5px;

}
}